* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
}
.global-msg {
  background: crimson;
  line-height: 34px;
}

.global-content {
  display: flex;
  justify-content: space-between;
  color: white;
}

.socials {
  display: flex;
  gap: 10px;
}
/*nav bar section*/
.nav-bar {
  background: rgb(78, 170, 106);
}
.nav-container {
  display: flex;
  justify-content: space-between;
}
.menu ul {
  list-style: none;
  display: flex;
}
.menu ul li {
  margin-left: 16px;
}
.menu ul li:hover {
  cursor: pointer;
}
/*hero section*/
.hero {
  min-height: 65vh;
  background: url(img/flex.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  color: white;
  width: 450px;
  background: rgba(142, 156, 160, 0.5);
  padding: 10 px 20px;
  border-radius: 20px;
  text-align: center;
}
/*post section
*/
.posts {
  margin-top: 32px;
  display: flex;
}
.post-content {
  width: 70%;
  margin-right: 60px;
}

.side-links {
  width: 30%;
}
.country {
  background: rgb(222, 245, 193);
  padding: 20px;
  border-radius: 5px;
}

.date {
  margin-top: 40px;
  background: rgb(222, 245, 193);
  padding: 20px;
  border-radius: 5px;
}

article {
  display: flex;
  margin-top: 32px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.art-img {
  width: 400px;
  margin-right: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

/*Card section */
.card-section {
  margin-top: 30px;
  background: rgb(222, 245, 193);
  padding: 40px 0;
}

.card-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card {
  width: 300px;
  min-height: 300px;
  background: white;
  border-radius: 10px;
  padding-bottom: 20px;
  box-shadow: -5px 5px 10px 5px rgba(0, 0, 0, 0.3);
}

.card img {
  border-radius: 10px 10px 0 0;
}

.btn-card {
  background: rgb(177, 230, 136);
  font-size: 18px;
  padding: 8px 15;
  border: none;
  border-radius: 8px;
  width: 100%;
  margin-top: 10px;
}

/*subscription section */

.subscription {
  padding: 50px;
  background: rgb(232, 222, 145);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*footer*/
footer {
  background: rgb(163, 158, 228);
  color: white;
  padding: 10px;
  text-align: center;
  min-height: 30px;
}
